@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

html {
  font-family: "Inter", sans-serif;
  max-width: 800px;
  margin: auto;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#wrapper {
  position: relative;
  text-align: center;
}

#logo {
  height: 30px;
  margin: 25px 0 5px;
}

#copyright {
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  margin: 0;
  margin-bottom: 25px;
}

#dialogue {
  width: 99%;
  min-height: 20rem;
  line-height: 1.5;
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  font-size: 15px;
  resize: vertical;
  border-top-width: 15px;
}

#panel {
  min-height: 2.2rem;
  width: 99%;
}

#command {
  font-family: "Ubuntu Mono", monospace;
  border: none;
  float: left;
  width: 96%;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  height: 100%;
}
